<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/commons::head}">
</head>
<body>
    <header th:replace="~{fragments/home-nav::nav}">
    </header>
    <main>
        <section class="welcome">
            <h2>Welcome to PetSelect!</h2>
            <p>PetSelect is an online, searchable database of homeless dogs and cats, located in the streets or shelters in Bulgaria, who are in desperate need of homes.
                Nearly 100 animal shelters, public and private, and rescue organizations throughout the country post new pets for adoption every other day,
                so that pet lovers from any EU country, from the comfort of their personal computers, can search for a pet that best matches their desires and needs.
            </p>
            <p>The site partners with rescue organizations all across Europe to help smooth the adoption process for all parties involved. It also includes a pet-care resource directory and a
                library of free pet-care articles to help new pet owners meet their pets' needs and to prevent abandoning of pets.</p>
            <p> Want to list a pet from Bulgaria for adoption? No problem, just sign up with PetSelect as an organization <span><a href="/users/signup">here!</a></span>  Yes, even if you are an individual!</p>
        </section>
        <section class="get-involved">
            <h2>Shelters are full - get involved!</h2>
            <p>
            <ul>
                <li><a href="/pets/dogs">
                    <img src="/images/noun-dog-1315214.png" alt="pic">
                    <h3>Search dogs</h3>
                    <p>Use the customisable search engine to search for dogs, available for adoption, that best match your criteria</p>
                </a></li>
                <li><a href="/pets/cats">
                    <img src="/images/noun-cat-1315214.png" alt="pic">
                    <h3>Search cats</h3>
                    <p>Use the customisable search engine to search for cats, available for adoption, that best match your criteria</p>
                </a></li>
                <li><a href="/pets/add">
                    <img src="/images/noun-pet-file-5071773.png" alt="pic">
                    <h3>List new pet</h3>
                    <p>Sheltering or taking care of a stray cat or dog? Wait no more - list it here to start looking for a forever home today!</p>
                </a></li>
                <li><a href="/shelters/all">
                    <img src="/images/noun-animal-love-4536785.png" alt="pic">
                    <h3>Donate</h3>
                    <p>Select shelters or resque organizations and send funds to buy food or cover medical expenses for their rescued pets!</p>
                </a></li>
            </ul>
            </p>
        </section>
        <section class="available-pets">
            <h2>Don't buy while stray pets die!</h2>
            <p>You can't buy true love and friendship, but you can surely adopt it! Not sure what kind of pet you are searching for? Browse through all listed pets <span><a href="#">here!</a></span></p>
            <ul>
                <li>
                    <img src="/images/noun-dog-1315214.png" alt="pic">
                    <section class="info">
                        <div>
                            <h3>Dog name</h3>
                        </div>
                        <div>
                            1.5 yrs
                        </div>
                    </section>
                    <section class="description">
                        <p>Dog short description Dog short description Dog short description Dog short description</p>
                        <button>Details</button>
                    </section>
                </li>
                <li>
                    <img src="/images/noun-dog-1315214.png" alt="pic">
                    <section class="info">
                        <div>
                            <h3>Dog name</h3>
                        </div>
                        <div>
                            1.5 yrs
                        </div>
                    </section>
                    <section class="description">
                        <p>Dog short description Dog short description Dog short description Dog short description</p>
                        <button>Details</button>
                    </section>
                </li>
                <li>
                    <img src="/images/noun-dog-1315214.png" alt="pic">
                    <section class="info">
                        <div>
                            <h3>Dog name</h3>
                        </div>
                        <div>
                            1.5 yrs
                        </div>
                    </section>
                    <section class="description">
                        <p>Dog short description Dog short description Dog short description Dog short description</p>
                        <button>Details</button>
                    </section>
                </li>
                <li>
                    <img src="/images/noun-dog-1315214.png" alt="pic">
                    <section class="info">
                        <div>
                            <h3>Dog name</h3>
                        </div>
                        <div>
                            1.5 yrs
                        </div>
                    </section>
                    <section class="description">
                        <p>Dog short description Dog short description Dog short description Dog short description</p>
                        <button>Details</button>
                    </section>
                </li>
                <li>
                    <img src="/images/noun-dog-1315214.png" alt="pic">
                    <section class="info">
                        <div>
                            <h3>Dog name</h3>
                        </div>
                        <div>
                            1.5 yrs
                        </div>
                    </section>
                    <section class="description">
                        <p>Dog short description Dog short description Dog short description Dog short description</p>
                        <button>Details</button>
                    </section>
                </li>
            </ul>
            <ul>
                <li>
                    <img src="/images/noun-cat-1315214.png" alt="pic">
                    <section class="info">
                        <div>
                            <h3>Cat name</h3>
                        </div>
                        <div>
                            1.5 yrs
                        </div>
                    </section>
                    <section class="description">
                        <p>Cat short description Cat short description Cat short description Cat short description</p>
                        <button>Details</button>
                    </section>
                </li>
                <li>
                    <img src="/images/noun-cat-1315214.png" alt="pic">
                    <section class="info">
                        <div>
                            <h3>Cat name</h3>
                        </div>
                        <div>
                            1.5 yrs
                        </div>
                    </section>
                    <section class="description">
                        <p>Cat short description Cat short description Cat short description Cat short description</p>
                        <button>Details</button>
                    </section>
                </li>
                <li>
                    <img src="/images/noun-cat-1315214.png" alt="pic">
                    <section class="info">
                        <div>
                            <h3>Cat name</h3>
                        </div>
                        <div>
                            1.5 yrs
                        </div>
                    </section>
                    <section class="description">
                        <p>Cat short description Cat short description Cat short description Cat short description</p>
                        <button>Details</button>
                    </section>
                </li>
                <li>
                    <img src="/images/noun-cat-1315214.png" alt="pic">
                    <section class="info">
                        <div>
                            <h3>Cat name</h3>
                        </div>
                        <div>
                            1.5 yrs
                        </div>
                    </section>
                    <section class="description">
                        <p>Cat short description Cat short description Cat short description Cat short description</p>
                        <button>Details</button>
                    </section>
                </li>
                <li>
                    <img src="/images/noun-cat-1315214.png" alt="pic">
                    <section class="info">
                        <div>
                            <h3>Cat name</h3>
                        </div>
                        <div>
                            1.5 yrs
                        </div>
                    </section>
                    <section class="description">
                        <p>Cat short description Cat short description Cat short description Cat short description </p>
                        <button>Details</button>
                    </section>
                </li>
            </ul>
        </section>
    </main>
    <footer th:replace="~{fragments/commons::footer}">
    </footer>
</body>
</html>
