<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/commons::head}">
</head>
<body>
<header th:replace="~{fragments/home-nav::nav}">
</header>
<main class = "pets">
    <section class="search-pets">
        <h2>Search adoptable cats or dogs</h2>
        <p> If you are looking to adopt a pet from Bulgaria, you are in the right place! Use the customisable search
            engine to search for pets that best match your criteria or just browse through all listed pets.
        </p>
        <p> Are you eager to meet your new best friend? Please select a category from below and get started!</p>
        <p>
        <ul>
            <li><a href="/pets/dogs">
                <img src="/images/noun-dog-1315214.png" alt="pic">
                <h3>Search dogs</h3>
            </a></li>
            <li><a href="/pets/cats">
                <img src="/images/noun-cat-1315214.png" alt="pic">
                <h3>Search cats</h3>
            </a></li>
        </ul>
        </p>
    </section>
    <section class="add-pets">
        <h2>Do you want to find a home for a pet?</h2>
        <p>If you are:
        - looking after a stray pet, living in the streets;
        - volunteering at a municipal shelter;
        - fostering a stray pet;
        - an NPO that has a private shelter;
        - a pet owner looking to re-home your best friend because you can no longer take care of it;
        and you are desperate to find a home and a forever family for the pet, you are in the right please! Create a post with a detailed description of the pet and </p>
        <div>
            <a href="/pets/add">
                <img src="/images/noun-pet-file-5071773.png" alt="pic">
                <h3>List new pet</h3>
                <p>Sheltering or taking care of a stray cat or dog? Wait no more - list it here to start looking for a forever home today!</p>
            </a>
        </div>
        </p>
    </section>
</main>
<footer th:replace="~{fragments/commons::footer}">
</footer>
</body>
</html>
