<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/commons::head}">
</head>
<body>
    <header th:replace="~{fragments/commons::nav}">
    </header>
        <main class="signup">
            <section class="section section-signup" style="background-image: url('/images/Cat-And-Dog-High-Quality-Wallpaper-cut.jpg'); background-size: cover; background-position: top center; min-height: 700px; margin-bottom: 0;">
                <div class="container">
                  <div class="row">
                    <div class="card card-signup" data-background-color="orange">
                      <form class="form" th:method="POST" th:action="@{/users/signup}" th:object="${userSignUpBindingModel}">
                        <div class="card-header text-center">
                          <h3 class="card-title title-up">Sign Up</h3>
                        </div>
                        <div class="card-body">
                          <div class="input-group no-border">
                            <input th:field="*{firstName}" type="text" class="form-control" placeholder="First Name..."
                              required minlength="1" maxlength="20"
                              aria-describedby="firstNameHelpInline">
                              <small th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                                     class="errors text-white" id="firstNameError"
                                     >First name length must be between 1 and 20 characters</small>
                          </div>
                          <div class="input-group no-border">
                            <input th:field="*{lastName}" type="text" class="form-control" placeholder="Last Name..."
                                   required minlength="1" maxlength="20"
                                   aria-describedby="lastNameHelpInline">
                              <small th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                     class="errors text-white" id="lastNameError"
                                     >Last name length must be between 1 and 20 characters</small>
                          </div>
                          <div class="input-group no-border">
                            <input th:field="*{email}" class="form-control" placeholder="Email..."
                                   required
                                   type="email"
                                   aria-describedby="emailHelpInline">
                              <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                     class="errors text-white" id="emailError"
                                     >Please enter valid email</small>
                              <small th:if="${isEmailOccupied}" class="errors text-white">
                                  Email is already occupied!
                              </small>
                          </div>
                          <div class="input-group no-border">
                            <input th:field="*{password}" type="password" class="form-control" placeholder="Password..."
                                   required minlength="1" maxlength="20"
                                   aria-describedby="passwordHelpInline">
                              <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                     class="errors text-white" id="passwordError">
                                  Password length must be between 1 and 20 characters
                              </small>
                          </div>
                            <div class="input-group no-border">
                                <input th:field="*{confirmPassword}" type="password" class="form-control" placeholder="Confirm password..."
                                       required minlength="1" maxlength="20"
                                       aria-describedby="confirmPasswordHelpInline">
                                <small th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
                                       class="errors text-white" id="confirmPasswordError"
                                       >
                                    Password length must be between 1 and 20 characters
                                </small>
                                <small th:if="*{password != confirmPassword}"
                                       class="errors text-white" id="noMatchPasswordError"
                                >
                                    Confirm password should match the above password!
                                </small>
                            </div>
                          <div class="input-group no-border">
                            <select th:field="*{country}" class="custom-select">
                              <option value="" selected>Select Country</option>
                              <option th:each="c : ${T(com.softuni.petselect.model.entity.enums.CountryNameEnum).values()}" th:value="${c}" th:text="${c}" th:selected = "${c} == *{country}">Select Country</option>
                            </select>
                          </div>
                          <!-- If you want to add a checkbox to this form, uncomment this code -->
                          <!-- <div class="checkbox">
                                              <input id="checkboxSignup" type="checkbox">
                                                  <label for="checkboxSignup">
                                                  Unchecked
                                                  </label>
                                              </div> -->
                        </div>
                        <div class="card-footer text-center">
                            <button class="btn btn-neutral btn-round btn-lg" type="submit">Get Started!</button>
                          <div><small class = "to-login">Already have an account? Login <span><a th:href="@{/users/login}">here!</a></span></small></div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
            </section>
        </main>
<footer th:replace="~{fragments/commons::footer}">
</footer>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    </body>
</html>