<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PetSelect</title>
</head>
<body>
<h1 th:text="#{password_reset_subject}">Reset your password!</h1>
<th:block th:text="#{registration_dear_user(${userName})}">Dear User,</th:block>
<p th:text="#{password_reset_link(${link})}">
  To reset your password, please click on the following link:
</p>
<p th:text="#{password_reset_expiration}"> </p>
<th:block th:text="#{registration_best_regards}">Best regards, the PetSelect Team!</th:block>
</body>
</html>